body{
  --fit-type:cover;
}
*{
  margin: 0;
  padding: 0;
}
html,body{
  width: 100%;
  height: 100%;
}
.container{
  display: block;
  width: 97%;
  height: 90%;
  padding: 20px !important;
  user-select: none;
  color: whitesmoke;
  border: none;
  outline: none;
  overflow: none;
}
.slideContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 2;
}
.slideContainer .buttonContainer{
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.slideContainer .buttonContainer span{
  color: black;
  width: 20px;
  height: 20px;
  font-weight: bold;
  font-size: xxx-large;
}
#slider {
  width: 100%;
  height: 40vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  z-index: 3;
}

#slider label{
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  background-repeat: no-repeat;
  background-size: var(--fit-type);
  background-position: center center;
}
#slider label.slide3{
  transform: translate3d(0,0,-200px);
}

#slider label.slide2{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .37);
  transform: translate3d(-30%,0,-200px);
}

#slider label.slide1{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#slider label.active{
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#slider label.slide4{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#slider label.slide5{
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .37);
  transform: translate3d(30%,0,-200px);
}

#slider label.slide6{
  transform: translate3d(0,0,-200px);
}

#slide1 { 
  background-color: violet
}
#slide2 { 
  background-color: indigo
}
#slide3 { 
  background-color: blue
}
#slide4 {
  background-color: green
}
#slide5 {
  background-color: yellow
}
#slide6 {
  background-color: orange
}
#slide7 {
  background-color: red
}